.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@media only screen and (max-width: 600px) {
  .course_card {
    width: 150px;
    height: 100px;
  }

  .course-row {
    width: 100vw;
  }

  .course-name {
    font-size: 12px !important;
  }

  .course-code,
  .credits {
    font-size: 12px !important;
  }
}