@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --header-height: 3.5rem;
  --first-color: hsl(28, 88%, 62%);
  --title-color: #000
  --text-color: hsl(0, 0%, 75%);
  --body-color: #f9f9f9; /* Change background color to #f9f9f9 */
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /* justify-content: center; */
  /* align-items: center;  */
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  margin-top: 84px;
}


#root {
  /* margin: 0 0; */
  /* padding: 2rem;  */
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
 
}
